################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/BingCrawler/courseList.py
/companyEmbedding/CompanyList.py
/BingCrawler/v15
/LabelCompany/Indri/index/company
*.v15
*.suo
